:root {
  --main-text-color: #757575;
  --additional-text-color: #212121;
  --accent-color: #2196f3;
  --white: #ffffff;
  --card-gap: 30px;
  --card-item: 3;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
* {
  box-sizing: border-box;
}
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
body,
html {
  font-family: "Roboto";
  background-color: #ffffff;
  color: var(--main-text-color);
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  min-width: 100px;
  height: auto;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-gap);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: #000000;
}

.logo-akcent {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-white {
  color: var(--white);
  margin-bottom: 20px;
  display: block;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .header-liner {
  width: auto;
  border: 1px solid #ececec;
} */
.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-left: 93px;
}
.nav-indicator {
  position: absolute;
  bottom: 0;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  opacity: 0;
}
.nav-item {
  position: relative;
  display: flex;
  justify-content: center;
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--additional-text-color);
  padding: 32px 0;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}

/* transition: background 2500ms cubic-bezier(0.4, 0, 0.2, 1); */
/* .nav-link:hover, */
/* .nav-link:focus .nav-indicator {
}
.nav-item:focus .nav-indicator {
  background: red;
} */
/* .nav-item:hover .nav-indicator {
  opacity: 1;
  transition: opacity 2500ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.contact-list {
  display: flex;
  justify-content: flex-end;
  gap: var(--card-gap);
}
/* .contact {
  display: flex;
} */
.benefits-list {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 94px; */
}
.section {
  padding: 94px 0;
}
.benefits-item {
  width: 270px;
  /* height: 101px; */
}
.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  padding: 32px 0;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-icon {
  fill: #757575;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-item {
  display: flex;
  align-items: center;
}
.active {
  color: var(--accent-color);
  opacity: 1;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.contact-link:hover .contact-icon,
.contact-link:focus .contact-icon {
  fill: var(--accent-color);
}
.nav-link:hover,
.nav-link:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.button {
  background-color: var(--accent-color);
  color: var(--white);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0;
  margin: 0 auto;
  padding: 10px 32px;
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #188ce8;
}
.filter-btn {
  border: none;
  background-color: #f5f4fa;
  color: #000000;
  border-radius: 4px;
  font-size: 16px;
  padding: 6px 22px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
/* .filter-btn-active {
  border: none;
  background-color: var(--accent-color);
  color: var(--white);
  border-radius: 4px;
  font-size: 16px;
  padding: 6px 22px;
} */
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  border: none;
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: #2f303a; */
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  padding: 200px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 30px;
}
.filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--additional-text-color);
  display: flex;
  justify-content: center;
  margin-left: 8px;
  margin-bottom: 50px;
}

.benefits-background {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--additional-text-color);
  margin-bottom: 10px;
}
.benefits-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.benefits-list .text {
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/* заголовки першої сторінки */
.team {
  background-color: #f5f4fa;
  /* padding: 94px 0; */
}
.description-list {
  justify-content: space-between;
}
.description {
  /* margin-bottom: 80px; */
  padding-top: 0;
}

.image-bloc {
  position: relative;
}
.description-subtitle {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgb(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.description-text {
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--additional-text-color);
  margin-bottom: 50px;
}
.team-list {
  justify-content: center;
}
.team-item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-text {
  background-color: #ffffff;
  padding: 30px 0;
  text-align: center;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--additional-text-color);
  margin-bottom: 10px;
}
.team-member-decription {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 16px;
}
.team-soc-list {
  display: flex;
  justify-content: center;
}
.team-soc-item + .team-soc-item {
  margin-left: 10px;
}
.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
}
.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
  fill: #fff;
}
/* .client-link { */
/* width: 170px;
  height: 92px; */
/* border: 1px; */
/* background-color: tomato; */
/* display: flex;
  align-items: center;
  justify-content: center; */

.client-link {
  width: 170px;
  /* padding: 16px 32px; */
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition-property: ; */
}

.client-list {
  display: flex;
  justify-content: center;
  align-content: center;
}

.client-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-item + .client-item {
  margin-left: 30px;
}

.client-link:hover,
.client-link:focus {
  border: 1px solid var(--accent-color);
}
.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: #2196f3;
}

.portfolio-item {
  width: 370px;
  /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-photo {
  position: relative;
  overflow: hidden;
}
.portfolio-hover {
  position: absolute;
  transform: translateY(0px);
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  display: flex;
  align-items: center;
  text-align: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .portfolio-hover,
.portfolio-link:focus .portfolio-hover {
  transform: translateY(-294px);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* .portfolio-hover {
  position: absolute;
  transform: translateY(294px);
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  display: flex;
  align-items: center;
  text-align: center;
  /* padding: 63px 24px; */
/* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}*/

.portfolio-hover-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  position: absolute;
  /* top: 50%;
  left: 0%; */
  width: 100%;
  height: 294px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 294px;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.portfolio-text {
  background-color: #ffffff;
  padding: 20px 24px;
  /* display: flex;
  flex-direction: column; */
  border: 1px solid #eeeeee;
  border-top: none;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--additional-text-color);
  margin-bottom: 4px;
}
.portfolio-subtitle {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.footer-link {
  color: var(--white);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* border : 1px solid #000000; */

.footer-all {
  display: flex;
  align-items: baseline;
}
.footer-soc {
  display: flex;
  margin-left: 70px;
  margin-right: 70px;
  flex-direction: column;
}
.footer-soc-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--white);
  margin-bottom: 20px;
  text-transform: uppercase;
  display: block;
}
.team-soc-link {
  background-color: rgba(255, 255, 255, 0.1);
}
.icon-white {
  fill: #fff;
}
.link-transparency {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}
.footer {
  background-color: #2f303a;
  text-decoration: none;
  padding: 60px 0;
}
.form {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}
.submin {
  display: flex;
}
.subscribe-email {
  font-size: 16px;
  line-height: 1.25;
  width: 358px;
  height: 50px;
  /* display: flex;
  align-items: center; */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 14px 0;
  padding-left: 16px;
  background: transparent;
  display: flex;
  align-items: flex-end;
}
.subscribe-btn {
  height: 50px;
  width: 200px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  /* padding-left: 29px;
  padding: 10px; */
  color: var(--white);
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscribe-icon {
  margin: 13px 10px;
}
/* .footer-link-text {
  color: var(--white);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-shadow: #000 0px 0px 1px;
} */

.visually-hidden {
  /* visibility: hidden; */
  display: none;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(-180deg);
} */
.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  padding: 40px;
}
.modal-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .modal-button:hover,
.modal-button:focus {
  border-color: var(--accent-color);
} */
.modal-button-icon {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .modal-button-icon,
.modal-button:focus .modal-button-icon {
  fill: var(--accent-color);
}

/* .modal-navigation {
  display: flex;
  justify-content: flex-end;
} */
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 20px;
}
/* .modal-field {
  margin-bottom: 10px;
} */
.input-wrap {
  position: relative;
  margin: 4px 0 10px 0;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 30px;
}
.modal-input:hover,
.modal-input:focus {
  border-color: var(--accent-color);
}
.modal-input:hover + .input-icon,
.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}
.input-icon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-label {
  font-size: 12px;
  line-height: 1.16;
  color: var(--main-text-color);
  display: block;
}
.modal-comment {
  height: 120px;
  width: 100%;
  border: 1px solid #999999;
  border-radius: 4px;
  resize: none;
  outline: none;
  padding: 12px 16px;
  margin: 4px 0 20px 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment:hover,
.modal-comment:focus {
  border: 1px solid var(--accent-color);
}
.modal-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-privacy {
  position: relative;
  margin-bottom: 30px;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #303030;
  border-radius: 2px;
  display: block;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-text span:hover {
  background-color: var(--accent-color);
  border: none;
}

#user-check:focus + label span {
  background-color: var(--accent-color);
  border: none;
}
#user-check {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
}

.check-icon {
  fill: transparent;
}
/* .check-icon:focus-visible {
  border: rgba(117, 117, 117, 0.5) solid red;
} */
/* .modal-check .check-icon:focus {
  fill: #fff;
} */
.modal-check:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}
.modal-check:checked + .check-text .check-icon {
  fill: #fff;
}
.check-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-check {
  width: 0;
  height: 0;
}
.modal-check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.modal-check-link {
  display: block;
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  font-weight: 400;
  font-size: 14px;
  /* line-height: 1.71; */
  letter-spacing: 0.03em;
}

/* .modal-submit {
} */
.modal-submit-button {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}
.modal-submit-button:hover,
.modal-submit-button:focus {
  background-color: #188ce8;
}
